<header class="fp-header">
    <nav class="navbar navbar-expand-md p-0">
        <a class="navbar-brand p-0" href="index.html">
            <img src="images/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item <%= htmlWebpackPlugin.options.filename === 'index.html' ? 'active' : '' %>">
                    <a class="nav-link" href="index.html">Home
                    </a>
                </li>
                <li class="nav-item <%= htmlWebpackPlugin.options.filename === 'about.html' ? 'active' : '' %>">
                    <a class="nav-link" href="about.html">About Us</a>
                </li>
                <li class="nav-item dropdown <%= htmlWebpackPlugin.options.filename === 'service.html' ? 'active' : '' %>">
                    <a class="nav-link dropdown-toggle" href="service.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our Services</a>
                    <div class="dropdown-menu " aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="#">Individual and Business tax preparation</a>
                        <a class="dropdown-item" href="#">Business and Non for Profit consultation</a>
                        <a class="dropdown-item" href="#">IRS and State Client Representation</a>
                        <a class="dropdown-item" href="#">Accounting and Book-keeping</a>
                        <a class="dropdown-item" href="#">Payroll Services</a>
                    </div>
                </li>
                <li class="nav-item <%= htmlWebpackPlugin.options.filename === 'document.html' ? 'active' : '' %>">
                    <a class="nav-link" href="document.html">Documents and Resources</a>
                </li>
                <li class="nav-item <%= htmlWebpackPlugin.options.filename === 'contact.html' ? 'active' : '' %>">
                    <a class="nav-link" href="contact.html">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
</header>